<a href="https://colab.research.google.com/github/MehzHats/Boston-Data-Analysis/blob/main/Boston%20Airbnb%20EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boston Airbnb Data Analysis

The dataset used in this notebook was choosen from the Boston Airbnb Open Data hosted on Kaggle. This dataset contains bookings, listings and reviews of homestay activity from 2008 till 2016.

This dataset is analysed based on the  the Cross-Industry Standard Process for Data Mining (CRISP-DM) incorporated as a part of the "Write a Data Science Blog Post" project for Udacity's Data Scientist Nanodegree. 

The CRoss Industry Standard Process for Data Mining (CRISP-DM) is a process model that serves as the base for a data science process. It has six sequential phases:

1. **Business understanding** – What are the needs of the business?
2. **Data understanding** – What data do we have / need? Is it clean?
3. **Data preparation** – How the data is organised for modeling?
4. **Modeling** – What are the modeling techniques applied?
5. **Evaluation** – Which model best meets the objectives of business?
6. **Deployment** – How do stakeholders access the results?

## About Data

The following Airbnb activity is included in this Boston dataset:

1.   Listings, including full descriptions and average review score.
2.   Reviews, including unique id for each reviewer and detailed comments
3. Calendar, including listing id and the price and availability for that day

## Get Data

In [5]:
!pip install --user -q kaggle

In [6]:
!mkdir ~/.kaggle
!touch ~/.kaggle/kaggle.json
!cd ~/.kaggle/ && echo '{"username":"mehzhats","key":"c56b2e27eae429152faae50277e85142"}' > "./kaggle.json"
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
!kaggle datasets download airbnb/boston
!unzip boston.zip
!rm boston.zip

## Imports

In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

### Settings

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.9f' % x)

## Section 1: Business Understanding
The listing of AirBnB's rental homes in and near the neighbourhood of Boston, Massachusetts, as well as the guest evaluations and the dates that the homes were available, were made public. We'll examine this information in this blog to learn more about the cities and the areas , the impacts of the various columns on the data sets , how the positive and negative reviews affect the listings by the host, the number of other factors that contribute to the choice of the guests and price factor based on the time of the booking.

We will make an effort to comprehend the types of homes that are offered, their costs, the distribution of these listings, the number of reviews, and, finally, how visitors described the properties after their stay.


 **We aspire to answer following questions from the dataset.**
1. Which column has the most impact on the data?
2. Which cities are the most expensive?
3. How reviews affect listings?
4. What factors affect the listings booked by customers?
5. Price difference between the peak period and off season?

## Section 2: Data Understanding

AirBnB has made the listing of its rental properties in and around Boston, MA neighborhoods public, along with the reviews left by guests, and the dates when properties were available. In this blog, we will review this data to learn about the neighborhood and attempt to understand which types of properties are available, their prices, the concentration of these listings, the number of reviews and lastly, how guests described the properties after their stay.

### Exploration of dataset

In [ ]:
calendar = pd.read_csv('calendar.csv')
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')

#### Calendar Data

In [ ]:
#print the head of calendar
calendar.head()

In [ ]:
#calendar data types
calendar.dtypes

In [ ]:
calendar[(calendar["price"].isna()) & (calendar["available"] == "t")]

In [ ]:
calendar[(calendar["price"].notna()) & (calendar["available"] == "f")]

In [ ]:
calendar[(calendar["price"].isna()) & (calendar["available"] == "f")]

In [ ]:
calendar[(calendar["price"].notna()) & (calendar["available"] == "t")]

In [ ]:
# calendar["price"] = calendar["price"].fillna("$0")
# calendar["price"] = calendar["price"].replace('[\$,]', '', regex = True).astype(float)

In [ ]:
#Calendar[calendar.columns[0]].count()
#len(calendar.index)
calendar.shape

In [ ]:
#print description of data
calendar.describe()

In [ ]:
#print concise summary of data
calendar.info()

In [ ]:
# Check if number of missing values is the same as number of 'f' availability
calendar.price.isna().sum()

In [ ]:
calendar.duplicated().sum()

In [ ]:
# calendar[(calendar["listing_id"] == 12898806) & (calendar["date"] == "2017-06-15")]
calendar[calendar.duplicated()]

In [ ]:
# price_corr = calendar.corr()['price'].sort_values(ascending = False)[1:]
# price_corr
# print ('Correlation Matrix')
# print(calendar.corr())
# print()

**Calendar Data Issues Identified**

- listing_id: convert to `str`
- date: convert to `datetime`
- available: convert to dummy variable
- price: drop $ and comma and convert to float/int

#### Listings Data

In [ ]:
#print the head of listings
listings.head()

In [ ]:
# len_listings = len('listings')
# print(len_listings)
#listings[listings.columns[0]].count()
#len(listings.index)
listings.shape

In [ ]:
#print description of data
listings.describe()

In [ ]:
#print concise summary of data
listings.info()

In [ ]:
# Inspecting the difference between summary & description
print(listings["summary"][1])
print(listings["description"][1])

In [ ]:
# Inspecting space column
print(listings["space"][2])
print(listings["space"][8])

In [ ]:
# Inspecting experiences_offered column
print(listings["experiences_offered"][124])
print(listings["experiences_offered"][130])

In [ ]:
# Inspecting neighborhood_overview column
print(listings["neighborhood_overview"][124])
print(listings["neighborhood_overview"][130])

In [ ]:
# inspecting some of the URL columns
listings[["medium_url", "thumbnail_url"]].iloc[0]

In [ ]:
print(listings["host_id"][0])
listings["host_id"].nunique()

In [ ]:

listings[listings["host_response_time"].notna()]["host_response_time"]

In [ ]:
listings["experiences_offered"].unique()

In [ ]:
listings["host_name"][0], listings["host_since"][0], listings["host_location"][0], listings["host_about"][0]

In [ ]:
listings["host_response_rate"].unique()

In [ ]:
listings["host_acceptance_rate"].unique()

In [ ]:
listings[listings["host_is_superhost"].isna()]

In [ ]:
(print(listings["host_listings_count"].unique()))
listings["host_listings_count"].isna().sum()

In [ ]:
print(listings["host_total_listings_count"].unique())
listings["host_total_listings_count"].isna().sum()

In [ ]:
listings[listings["host_listings_count"] != listings["host_total_listings_count"]]

In [ ]:
print(listings["host_verifications"].isna().sum())
listings["host_verifications"].unique()

In [ ]:
listings["host_identity_verified"].value_counts()

In [ ]:
listings[listings["neighbourhood"].isna()][["neighbourhood", "neighbourhood_cleansed"]]

In [ ]:
listings["neighbourhood_group_cleansed"].unique()

In [ ]:
listings[listings["city"] != listings["neighbourhood_cleansed"]][["city", "neighbourhood_cleansed"]]

In [ ]:
listings["state"].unique()

In [ ]:
print(listings["zipcode"].isna().sum())
listings["zipcode"].unique()

In [ ]:
listings["market"].unique()

In [ ]:
listings["smart_location"].unique()

In [ ]:
print(listings["security_deposit"].isna().sum())
listings["security_deposit"].unique()

In [ ]:
print(listings["cleaning_fee"].isna().sum())
listings["cleaning_fee"].unique()

In [ ]:
print(listings["accommodates"].unique())
listings["accommodates"].isna().sum()

In [ ]:
print(listings["guests_included"].isna().sum())
listings["guests_included"].unique()

In [ ]:
listings[listings["accommodates"] != listings["guests_included"]][["accommodates", "guests_included"]]

In [ ]:
print(listings["extra_people"].isna().sum())
listings["extra_people"].unique()

In [ ]:
print(listings["calendar_updated"].isna().sum())
listings["calendar_updated"].unique()

In [ ]:
print(listings["has_availability"].isna().sum())
listings["has_availability"].unique()

In [ ]:
print(listings["availability_30"].isna().sum())
listings["availability_30"].unique()

In [ ]:
print(listings["availability_60"].isna().sum())
listings["availability_60"].unique()

In [ ]:
print(listings.iloc[0])

In [ ]:
print(listings["first_review"].isna().sum())
listings["first_review"].unique()

In [ ]:
# Check if all rows have unique IDs
listings.id.nunique()

In [ ]:
# Are there less host ids?
listings.host_id.nunique()

In [ ]:
# Check response times
listings.host_response_time.nunique()
print(listings.host_response_time.nunique())

In [ ]:
listings.host_neighbourhood.nunique()

In [ ]:
# Check values for city
listings.city.value_counts()

In [ ]:
listings["instant_bookable"].value_counts()

In [ ]:
print(listings["cancellation_policy"].unique())
print(listings["cancellation_policy"].value_counts())

In [ ]:
print(listings["calculated_host_listings_count"].unique())
print(listings["calculated_host_listings_count"].value_counts())

In [ ]:
# Drop extraneous column
listings_semi = listings.drop(
    columns = [
              "listing_url", "scrape_id", "last_scraped", "summary", 
              "experiences_offered", "thumbnail_url", "medium_url", 
              "picture_url", "xl_picture_url", "host_url", 
              "host_thumbnail_url", "host_picture_url", 
              "host_total_listings_count", "host_verifications", 
              "host_has_profile_pic", "host_identity_verified", 
              "neighbourhood", "neighbourhood_group_cleansed", 
              "state", "market", "country_code", "smart_location", 
              "country", "latitude", "longitude", "is_location_exact", 
              "security_deposit", "cleaning_fee", "minimum_nights", 
              "maximum_nights", "calendar_updated", "has_availability", 
              "availability_30", "availability_60", "availability_90", 
              "availability_365", "calendar_last_scraped", "first_review", 
              "last_review", "review_scores_rating", "review_scores_accuracy", 
              "review_scores_cleanliness", "review_scores_checkin", 
              "review_scores_communication", "review_scores_location", 
              "review_scores_value", "requires_license", "license", 
              "jurisdiction_names", "require_guest_profile_picture", 
              "require_guest_phone_verification", "calculated_host_listings_count",
               "number_of_reviews", "reviews_per_month", "guests_included", "host_name",
               "host_since", "host_location", "host_response_rate", 
               "host_acceptance_rate", "host_is_superhost", 
               "host_neighbourhood", "host_id", "host_about"
              ],
)

In [ ]:
listings_semi.info()

In [ ]:
listings_semi["house_rules"].iloc[0]

In [ ]:
print(listings_semi["property_type"].unique())
listings_semi["property_type"].isna().sum()

In [ ]:
print(listings_semi["room_type"].unique())
listings_semi["room_type"].isna().sum()

In [ ]:
print(listings_semi["accommodates"].unique())
listings_semi["accommodates"].isna().sum()

In [ ]:
print(listings_semi["bathrooms"].unique())
listings_semi["bathrooms"].isna().sum()

In [ ]:
print(listings_semi["bedrooms"].unique())
listings_semi["bedrooms"].isna().sum()

In [ ]:
print(listings_semi["beds"].unique())
listings_semi["beds"].isna().sum()

In [ ]:
print(listings_semi["bed_type"].unique())
listings_semi["bed_type"].isna().sum()

In [ ]:
listings_semi[listings_semi["beds"] == 9].iloc[0]

In [ ]:
print(listings_semi["amenities"].unique())
listings_semi["amenities"].isna().sum()

In [ ]:
# print(listings_semi["square_feet"].unique())
listings_semi["square_feet"].isna().sum()
listings_semi["square_feet"][50]

In [ ]:
# print(listings_semi["price"].unique())
listings_semi["price"].isna().sum()

In [ ]:
# print(listings_semi["weekly_price"].unique())
listings_semi["weekly_price"].isna().sum()

In [ ]:
listings_semi["monthly_price"].isna().sum()

In [ ]:
print(listings_semi["extra_people"].unique())
listings_semi["extra_people"].isna().sum()

In [ ]:
listings_semi["extra_people"].value_counts()

In [ ]:
listings_semi.shape

#### Reviews Data

In [ ]:
#print the head of listings
reviews.head()

In [ ]:
#reviews[reviews.columns[0]].count()
#len(reviews.index)
reviews.shape

In [ ]:
#print description of data
reviews.describe()

In [ ]:
#print concise summary of data
reviews.info()

In [ ]:
reviews["comments"].isna().sum()

In [ ]:
reviews.reviewer_id.nunique()

In [ ]:
reviews.duplicated("reviewer_id").sum()

In [ ]:
reviews.duplicated(subset=["reviewer_id", "listing_id"]).sum()

In [ ]:
print(reviews.duplicated(subset=["reviewer_id", "listing_id", "date"]).sum())
reviews[reviews.duplicated(subset=["reviewer_id", "listing_id", "date"], keep=False)]

In [ ]:
print(reviews.duplicated(subset=["reviewer_id", "listing_id", "comments"]).sum())
reviews[reviews.duplicated(subset=["reviewer_id", "listing_id", "comments"], keep=False)]

In [ ]:
reviews[reviews.duplicated(subset=["reviewer_id", "listing_id", "date"])]

In [ ]:
reviews[reviews.duplicated(subset=["reviewer_id", "listing_id"], keep = False)]

**Review Data Issues Identified**

- reviewer_id: convert to `str`
- date: convert to `datetime`
- reviewer_id: convert to dummy
- comment: ? missing value and duplication

## Section 3: Data Preparation
In order for the results to be reliable, data preparation makes sure that the raw data being prepared for analysis and processing is accurate and consistent. Data preparation efforts may involve resolving data issues, confirming data quality, and consolidating data collections.

Finding pertinent data is another step in the data preparation process that enables analytics programmes to provide useful information and practical insights. By combining internal and external data sets, developing new data fields, removing outlier values, and resolving imbalanced data sets that can skew analytics results, the data is frequently enriched and optimised to make it much more relevant and usable.

The data preparation pipeline consists of the following steps.

1. Access the data.
2. Fetch the data.
3. Cleanse the data.
4. Format the data.
5. Combine the data.
6. Analyze the data.

### Processing Calendar Data

In [5]:
calendar_cleaned = pd.read_csv('calendar.csv')

In [6]:
# convert calendar listing_id to string method 1= 
calendar_cleaned["listing_id"] = calendar_cleaned["listing_id"].apply(str)

In [7]:
# convert date(string) to datetime fastest method
# calendar['date'] = pd.to_datetime(calendar['date']) o/p dtype('<M8[ns]')
calendar_cleaned['date'] = calendar_cleaned['date'].astype('datetime64[ns]')

In [8]:
# to check dtype of datetime is equal to endianess
np.dtype('datetime64[ns]') == np.dtype('<M8[ns]')

True

In [9]:
#apply for listings and calendar column both
calendar_cleaned["price"] = calendar_cleaned["price"].fillna("$0")

# price fill nans to 0 and convert price to float and remove $ / ,
calendar_cleaned["price"] = calendar_cleaned["price"].replace('[\$,]', '', regex=True).astype(float)

In [10]:
# drop duplicated rows in calendar
calendar_cleaned = calendar_cleaned.drop_duplicates()

In [11]:
calendar_cleaned['available'] = np.where(calendar_cleaned['available'] == 'f', 0, 1)

In [12]:
calendar_cleaned.dtypes

listing_id            object
date          datetime64[ns]
available              int64
price                float64
dtype: object

### Processing Listings Data

In [13]:
listings_cleaned = pd.read_csv('listings.csv')

In [14]:
# Drop extraneous column
listings_cleaned = listings_cleaned.drop(
    columns = [
              "listing_url", "scrape_id", "last_scraped", "summary", 
              "experiences_offered", "thumbnail_url", "medium_url", 
              "picture_url", "xl_picture_url", "host_url", 
              "host_thumbnail_url", "host_picture_url", 
              "host_total_listings_count", "host_verifications", 
              "host_has_profile_pic", "host_identity_verified", 
              "neighbourhood", "neighbourhood_group_cleansed", 
              "state", "market", "country_code", "smart_location", 
              "country", "latitude", "longitude", "is_location_exact", 
              "security_deposit", "cleaning_fee", "minimum_nights", 
              "maximum_nights", "calendar_updated", "has_availability", 
              "availability_30", "availability_60", "availability_90", 
              "availability_365", "calendar_last_scraped", "first_review", 
              "last_review", "review_scores_rating", "review_scores_accuracy", 
              "review_scores_cleanliness", "review_scores_checkin", 
              "review_scores_communication", "review_scores_location", 
              "review_scores_value", "requires_license", "license", 
              "jurisdiction_names", "require_guest_profile_picture", 
              "require_guest_phone_verification", "calculated_host_listings_count",
               "number_of_reviews", "reviews_per_month", "guests_included", "host_name",
               "host_since", "host_location", "host_response_rate",
               "host_acceptance_rate", "host_is_superhost",
               "host_neighbourhood", "host_id", "host_about",
               "name", "amenities", "weekly_price", "weekly_price"
              ],
)

In [15]:
# Convert id in listings from number to string
listings_cleaned["id"] = listings_cleaned["id"].apply(str)

In [16]:
## Remove na from text columns
text_cols = ["space", "description", "neighborhood_overview", "notes", "transit", "access", "house_rules", "interaction"]
listings_cleaned[text_cols] = listings_cleaned[text_cols].fillna("")

In [17]:
"""
df: dataframe
target_col: name of the new column to be created
cols: lisr of columns to be merged with newline (\n) character
"""
def combine_cols(df , target_col , cols):
  df[target_col] = df[cols].apply(lambda x: '\n'.join(x), axis=1)
  df = df.drop(columns= cols)
  return df

In [18]:
# Combine space, description, neighborhood_overview, notes -> listing_description
listings_cleaned = combine_cols(
    df = listings_cleaned,
    target_col = "listing_description",
    cols = ["space", "description", "neighborhood_overview", "notes"]
)

In [19]:
print(listings_cleaned["listing_description"].iloc[3])

Most places you find in Boston are small however our bedroom suite is large. The bedroom has plush down pillows and a down comforter. The mattress is fitted with a memory foam topper that gives each guest the best sleep. The leather couches are cozy.  The large leather couch can be converted to a bed. The television has been updated to a smart tv therefore you can access most tv programs through there including, HBO, Showtime and Cinemax. If you want to enjoy cable television, there is a tv in the kitchen. The kitchen has a gas burner, dishwasher, garbage disposal, music system, and a space in the fridge to keep your items.
Come experience the comforts of home away from home in our fabulous bedroom suite available in Roslindale, a neighborhood in Boston.  Enjoy sleeping on a large king sized bed with plush down bedding, access to a dishwasher, washer dryer and home gym. The house is incredibly accessible to public transportation and the center of Boston. Free street parking is available right in front of the house. Weekend farmers markets, restaurants and grocery stores are a 10 min walk away from the house. Most places you find in Boston are small however our bedroom suite is large. The bedroom has plush down pillows and a down comforter. The mattress is fitted with a memory foam topper that gives each guest the best sleep. The leather couches are cozy.  The large leather couch can be converted to a bed. The television has been updated to a smart tv therefore you can access most tv programs through there including, HBO, Showtime and Cinemax. If you want to enjoy cable television, there is a tv in the kit
Roslindale is a lovely little neighborhood located right in the city of Boston.  Though a part of the actual city, once you enter it, you feel as though you have escaped to a suburb with friendly neighbors.  The area is conveniently located with access to the city’s bus and subway system.  The Orange Line and Commuter Rail services connect the area to the heart of Boston and the neighboring towns.  It is situated close to shops, restaurants, grocery stores, parks and neighboring towns.  The farmer’s market held in the neighborhood’s center, Roslindale Village, and goes on all summer on Saturday morning.  Vendors of all different types of arts, crafts, and foods come to the neighborhood.  The Arnold Arboretum is a 265 acre park constructed as part of Frederick Law Olmsted’s Emerald Necklace project to provide Boston a connection through neighborhoods through it’s parks.  Jamaica Pond is also part of the emerald necklace which sits at the confluence of Jamaica Plain (a neighboring neighb
Please be mindful of the property as it is old and needs to be treated with the love and care you would give to your own home.  We really hope you enjoy your stay!

In [20]:
# Combine transit, access -> listing_access
listings_cleaned = combine_cols(
    df = listings_cleaned,
    target_col = "listing_access",
    cols = ["transit", "access"]
)

In [21]:
print(listings_cleaned["listing_access"].iloc[5])

To reach downtown Boston via public transportation takes about 45 minutes. Guests can take the MBTA 51 bus and connect to either the Orange Line at Forest Hills, or the Green Line (D train) at Riverside, depending on where you want to go. In addition, we're a 10-minute walk from the Roslindale Village station on the MBTA Commuter Rail, another option for reaching downtown.
Guests are welcome to share our living room and refrigerator space.

In [22]:
# Combine house_rules, interaction -> host_rules
listings_cleaned = combine_cols(
    df = listings_cleaned,
    target_col = "host_rules",
    cols = ["house_rules", "interaction"]
)

In [23]:
print(listings_cleaned["host_rules"].iloc[1])

Pet friendly but please confirm with me if the pet you are planning on bringing with you is OK. I have a cute and quiet mixed chihuahua. I could accept more guests (for an extra fee) but this also needs to be confirmed beforehand. Also friends traveling together could sleep in separate beds for an extra fee (the second bed is either a sofa bed or inflatable bed). Smoking is only allowed on the porch.
If I am at home, I am likely working in my home office, which is a separate room. I can help you settle in and give you tips and directions on the neighborhood and Boston.

In [24]:
# neighbourhood_cleansed rename to neighbourhood
listings_cleaned = listings_cleaned.rename(columns = {'neighbourhood_cleansed':'neighbourhood'})

In [25]:
def convert_price_to_float(df , target_col):
  df[target_col] = df[target_col].fillna("$0").replace('[\$,]', '', regex=True).astype(float)
  return df

In [26]:
# extra_people to float price
listings_cleaned = convert_price_to_float(
      df = listings_cleaned,
      target_col = "extra_people"
    )

In [27]:
# square_feet replace nan with 0.0
listings_cleaned["square_feet"] = listings_cleaned["square_feet"].fillna(0.0)

In [28]:
# price to float price
listings_cleaned = convert_price_to_float(
      df = listings_cleaned,
      target_col = "price"
    )

In [29]:
# Convert na to unknown
listings_cleaned["host_response_time"] = listings_cleaned["host_response_time"].fillna("unknown")

In [30]:
unique_hrt = listings_cleaned["host_response_time"].unique()

In [31]:
# The values are already in correct order. So, no manual reordering required
unique_hrt

array(['unknown', 'within an hour', 'within a few hours', 'within a day',
       'a few days or more'], dtype=object)

In [32]:
# Convert host_response_time to categorical data
listings_cleaned["host_response_time"] = listings_cleaned["host_response_time"].astype("category")
listings_cleaned["host_response_time"] = listings_cleaned["host_response_time"].cat.reorder_categories(unique_hrt, ordered=True)

In [33]:
# fillna with "unknown"
listings_cleaned["property_type"] = listings_cleaned["property_type"].fillna("unknown")
listings_cleaned["room_type"] = listings_cleaned["room_type"].fillna("unknown")
listings_cleaned["accommodates"] = listings_cleaned["accommodates"].fillna("unknown")

In [34]:
# property_type, room_type, accommodates to categorical variable
listings_cleaned["property_type"] = listings_cleaned["property_type"].astype("category")
listings_cleaned["room_type"] = listings_cleaned["room_type"].astype("category")
listings_cleaned["accommodates"] = listings_cleaned["accommodates"].astype("category")

In [35]:
# fillna with "0"
listings_cleaned["bathrooms"] = listings_cleaned["bathrooms"].fillna(0)
listings_cleaned["bedrooms"] = listings_cleaned["bedrooms"].fillna(0)
listings_cleaned["beds"] = listings_cleaned["beds"].fillna(0)

In [36]:
# bathroom to categorical variable with order
listings_cleaned["bathrooms"] = listings_cleaned["bathrooms"].astype("str").astype("category")
bt_order = ['0.0', '0.5', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0', '6.0']
listings_cleaned["bathrooms"] = listings_cleaned["bathrooms"].cat.set_categories(bt_order, ordered=True)

In [37]:
# Get unique values and sort ascending order
unique_brs = listings_cleaned["bedrooms"].unique()
unique_brs.sort()
unique_brs = unique_brs.astype(str)

# to categorical variable
listings_cleaned["bedrooms"] = listings_cleaned["bedrooms"].astype("str").astype("category")
listings_cleaned["bedrooms"] = listings_cleaned["bedrooms"].cat.set_categories(unique_brs, ordered=True)

In [38]:
# beds to categorical variable with order

# Get unique values and sort ascending order
unique_beds = listings_cleaned["beds"].unique()
unique_beds.sort()
unique_beds = unique_brs.astype(str)

# to categorical variable
listings_cleaned["beds"] = listings_cleaned["beds"].astype("str").astype("category")
listings_cleaned["beds"] = listings_cleaned["beds"].cat.set_categories(unique_beds, ordered=True)

In [39]:
listings_cleaned["beds"].unique()

['3.0', '1.0', '2.0', '5.0', NaN, '4.0', '0.0']
Categories (6, object): ['0.0' < '1.0' < '2.0' < '3.0' < '4.0' < '5.0']

In [40]:
# bed_type to categorical variable
# No much preprocessing is required as bed_type is already clean and unordered.
listings_cleaned["bed_type"] = listings_cleaned["bed_type"].astype("category")

In [41]:
# instant_bookable to categorical
listings_cleaned["instant_bookable"] = np.where(listings_cleaned["instant_bookable"] == 'f', 0, 1)

In [42]:
cancel_uniques = ['flexible', 'moderate', 'strict', 'super_strict_30']

In [43]:
# cancellation_policy to categorical
listings_cleaned["cancellation_policy"] = listings_cleaned["cancellation_policy"].astype("category")
listings_cleaned["cancellation_policy"] = listings_cleaned["cancellation_policy"].cat.set_categories(cancel_uniques, ordered=True)

In [44]:
# listings_cleaned["cancellation_policy"].unique()

In [45]:
# listings_cleaned["id"].unique()

### Processing Reviews Data

In [46]:
reviews_cleaned = pd.read_csv('reviews.csv')

In [47]:
reviews_cleaned.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [48]:
reviews_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68275 non-null  int64
 1   id             68275 non-null  int64
 2   date           68275 non-null  object
 3   reviewer_id    68275 non-null  int64
 4   reviewer_name  68275 non-null  object
 5   comments       68222 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB

In [49]:
reviews_cleaned[["listing_id", "id", "reviewer_id"]] = reviews_cleaned[["listing_id", "id", "reviewer_id"]].astype('str')

In [50]:
# drop duplicates "reviewer_id", "listing_id"and "comments"
reviews_cleaned = reviews_cleaned.drop_duplicates(subset=["reviewer_id", "listing_id", "comments"])

In [51]:
# Remove null comments
reviews_cleaned = reviews_cleaned.dropna(axis=0, subset=["comments"])

In [52]:
#convert date to datetime
reviews_cleaned ['date'] = reviews_cleaned['date'].astype('datetime64[ns]')

In [53]:
# reviews_cleaned = reviews_cleaned.drop(columns = ["reviewer_id", "reviewer_name"])

In [54]:
reviews_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68204 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68204 non-null  object
 1   id             68204 non-null  object
 2   date           68204 non-null  datetime64[ns]
 3   reviewer_id    68204 non-null  object
 4   reviewer_name  68204 non-null  object
 5   comments       68204 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 3.6+ MB

### Combining Data

Combine two datasets for creating a clean dataset by using pd.merge() with a left join on calendar_cleaned. Drop listing_id on merged.

In [55]:
cal_list = pd.merge(calendar_cleaned, listings_cleaned, how='left', left_on='listing_id', right_on='id')

In [56]:
cal_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308525 entries, 0 to 1308524
Data columns (total 27 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   listing_id           1308525 non-null  object
 1   date                 1308525 non-null  datetime64[ns]
 2   available            1308525 non-null  int64
 3   price_x              1308525 non-null  float64
 4   id                   1308525 non-null  object
 5   host_response_time   1308525 non-null  category
 6   host_listings_count  1308525 non-null  int64
 7   street               1308525 non-null  object
 8   neighbourhood        1308525 non-null  object
 9   city                 1307795 non-null  object
 10  zipcode              1294655 non-null  object
 11  property_type        1308525 non-null  category
 12  room_type            1308525 non-null  category
 13  accommodates         1308525 non-null  category
 14  bathrooms            1308525 non-null  category
 15  bedrooms             1308525 non-null  category
 16  beds                 1296480 non-null  category
 17  bed_type             1308525 non-null  category
 18  square_feet          1308525 non-null  float64
 19  price_y              1308525 non-null  float64
 20  monthly_price        324120 non-null   object
 21  extra_people         1308525 non-null  float64
 22  instant_bookable     1308525 non-null  int64
 23  cancellation_policy  1308525 non-null  category
 24  listing_description  1308525 non-null  object
 25  listing_access       1308525 non-null  object
 26  host_rules           1308525 non-null  object
dtypes: category(9), datetime64[ns](1), float64(4), int64(3), object(10)
memory usage: 200.9+ MB

In [57]:
# id and listing_id are the same. So id will be dropped as it no longer
# represent a unique identifier for the row.
cal_list[cal_list["id"] != cal_list["listing_id"]]

Empty DataFrame
Columns: [listing_id, date, available, price_x, id, host_response_time, host_listings_count, street, neighbourhood, city, zipcode, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, square_feet, price_y, monthly_price, extra_people, instant_bookable, cancellation_policy, listing_description, listing_access, host_rules]
Index: []

[0 rows x 27 columns]

In [58]:
cal_list.drop('id', axis=1, inplace=True)

In [59]:
cal_list.drop('price_x', axis=1, inplace=True)

In [60]:
cal_list = cal_list.rename(columns={"price_y": "price"})

In [61]:
# To confirm whether columns and rows are correct
assert cal_list.shape[1] == ((calendar_cleaned.shape[1] + listings_cleaned.shape[1]) - 2)
assert cal_list.shape[0] == calendar_cleaned.shape[0]

In [62]:
cal_list.head()

,listing_id,date,available,host_response_time,host_listings_count,street,neighbourhood,city,zipcode,property_type,...,bed_type,square_feet,price,monthly_price,extra_people,instant_bookable,cancellation_policy,listing_description,listing_access,host_rules
0,12147973,2017-09-05,0,unknown,1,"Birch Street, Boston, MA 02131, United States",Roslindale,Boston,02131,House,...,Real Bed,0.000000000,250.000000000,NaN,0.000000000,0,moderate,The house has an open and cozy feel at the sam...,"The bus stop is 2 blocks away, and frequent. B...",Clean up and treat the home the way you'd like...
1,12147973,2017-09-04,0,unknown,1,"Birch Street, Boston, MA 02131, United States",Roslindale,Boston,02131,House,...,Real Bed,0.000000000,250.000000000,NaN,0.000000000,0,moderate,The house has an open and cozy feel at the sam...,"The bus stop is 2 blocks away, and frequent. B...",Clean up and treat the home the way you'd like...
2,12147973,2017-09-03,0,unknown,1,"Birch Street, Boston, MA 02131, United States",Roslindale,Boston,02131,House,...,Real Bed,0.000000000,250.000000000,NaN,0.000000000,0,moderate,The house has an open and cozy feel at the sam...,"The bus stop is 2 blocks away, and frequent. B...",Clean up and treat the home the way you'd like...
3,12147973,2017-09-02,0,unknown,1,"Birch Street, Boston, MA 02131, United States",Roslindale,Boston,02131,House,...,Real Bed,0.000000000,250.000000000,NaN,0.000000000,0,moderate,The house has an open and cozy feel at the sam...,"The bus stop is 2 blocks away, and frequent. B...",Clean up and treat the home the way you'd like...
4,12147973,2017-09-01,0,unknown,1,"Birch Street, Boston, MA 02131, United States",Roslindale,Boston,02131,House,...,Real Bed,0.000000000,250.000000000,NaN,0.000000000,0,moderate,The house has an open and cozy feel at the sam...,"The bus stop is 2 blocks away, and frequent. B...",Clean up and treat the home the way you'd like...

In [63]:
reviews_cleaned.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [64]:
cal_list_rev = pd.merge(
    cal_list,
    reviews_cleaned,
    how='left',
    left_on='listing_id',
    right_on='listing_id'
)

In [ ]:
cal_list_rev.to_csv("cal_list_rev.csv")

In [ ]:
cal_list_rev.info()

In [ ]:
cal_list_rev[["date_x", "date_y"]].iloc[0:15]

In [ ]:
# To confirm whether columns and rows are correct
assert cal_list_rev.shape[1] == (cal_list.shape[1] + reviews_cleaned.shape[1] - 1)
assert cal_list_rev.shape[0] == cal_list.shape[0]