<a href="https://colab.research.google.com/github/MehzHats/Boston-Data-Analysis/blob/main/Boston%20Airbnb%20EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boston Airbnb Data Analysis

The dataset used in this notebook was choosen from the Boston Airbnb Open Data hosted on Kaggle. This dataset contains bookings, listings and reviews of homestay activity from 2008 till 2016.

This dataset is analysed based on the  the Cross-Industry Standard Process for Data Mining (CRISP-DM) incorporated as a part of the "Write a Data Science Blog Post" project for Udacity's Data Scientist Nanodegree. 

The CRoss Industry Standard Process for Data Mining (CRISP-DM) is a process model that serves as the base for a data science process. It has six sequential phases:

1. **Business understanding** – What are the needs of the business?
2. **Data understanding** – What data do we have / need? Is it clean?
3. **Data preparation** – How the data is organised for modeling?
4. **Modeling** – What are the modeling techniques applied?
5. **Evaluation** – Which model best meets the objectives of business?
6. **Deployment** – How do stakeholders access the results?

## About Data

The following Airbnb activity is included in this Boston dataset:

1.   Listings, including full descriptions and average review score.
2.   Reviews, including unique id for each reviewer and detailed comments
3. Calendar, including listing id and the price and availability for that day

## Section 1: Business Understanding
The listing of AirBnB's rental homes in and near the neighbourhood of Boston, Massachusetts, as well as the guest evaluations and the dates that the homes were available, were made public. We'll examine this information in this blog to learn more about the cities and the areas , the impacts of the various columns on the data sets , how the positive and negative reviews affect the listings by the host, the number of other factors that contribute to the choice of the guests and price factor based on the time of the booking.

We will make an effort to comprehend the types of homes that are offered, their costs, the distribution of these listings, the number of reviews, and, finally, how visitors described the properties after their stay.


 **We aspire to answer following questions from the dataset.**
1. Which column has the most impact on the data?
2. Which cities are the most expensive?
3. How reviews affect listings?
4. What factors affect the listings booked by customers?
5. Price difference between the peak period and off season?

## Section 2: Data Understanding

AirBnB has made the listing of its rental properties in and around Boston, MA neighborhoods public, along with the reviews left by guests, and the dates when properties were available. In this blog, we will review this data to learn about the neighborhood and attempt to understand which types of properties are available, their prices, the concentration of these listings, the number of reviews and lastly, how guests described the properties after their stay.

### Exploration of dataset

In [ ]:
import pandas as pd

In [ ]:
calendar = pd.read_csv('calendar.csv')
listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')

#### Calendar Data

In [ ]:
#print the head of calendar
calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [ ]:
calendar[(calendar["price"].isna()) & (calendar["available"] != "f")]

Empty DataFrame
Columns: [listing_id, date, available, price]
Index: []

In [ ]:
calendar[(calendar["price"].isna()) & (calendar["available"] == "t")]

Empty DataFrame
Columns: [listing_id, date, available, price]
Index: []

In [ ]:
calendar[(calendar["price"].isna()) & (calendar["available"] == "f")]

         listing_id        date available price
0          12147973  2017-09-05         f   NaN
1          12147973  2017-09-04         f   NaN
2          12147973  2017-09-03         f   NaN
3          12147973  2017-09-02         f   NaN
4          12147973  2017-09-01         f   NaN
...             ...         ...       ...   ...
1308885    14504422  2016-09-10         f   NaN
1308886    14504422  2016-09-09         f   NaN
1308887    14504422  2016-09-08         f   NaN
1308888    14504422  2016-09-07         f   NaN
1308889    14504422  2016-09-06         f   NaN

[665853 rows x 4 columns]

In [ ]:
# calendar["price"] = calendar["price"].fillna("$0")
# calendar["price"] = calendar["price"].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
#Calendar[calendar.columns[0]].count()
#len(calendar.index)
calendar.shape

(1308890, 4)

In [ ]:
#print description of data
calendar.describe()

         listing_id
count  1.308890e+06
mean   8.442118e+06
std    4.500149e+06
min    3.353000e+03
25%    4.679319e+06
50%    8.578710e+06
75%    1.279603e+07
max    1.493346e+07

In [ ]:
#print concise summary of data
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB

In [ ]:
# Check if number of missing values is the same as number of 'f' availability
calendar.price.isna().sum()

665853

In [ ]:
calendar.duplicated().sum()

365

In [ ]:
# calendar[(calendar["listing_id"] == 12898806) & (calendar["date"] == "2017-06-15")]
calendar[calendar.duplicated()]

        listing_id        date available price
748468    12898806  2017-06-15         f   NaN
748469    12898806  2017-06-14         f   NaN
748470    12898806  2017-06-13         f   NaN
748471    12898806  2017-06-12         f   NaN
748472    12898806  2017-06-11         f   NaN
...            ...         ...       ...   ...
748975    12898806  2016-12-17         f   NaN
748976    12898806  2016-12-16         f   NaN
748977    12898806  2016-12-15         f   NaN
748978    12898806  2016-12-14         f   NaN
748979    12898806  2016-12-13         f   NaN

[365 rows x 4 columns]

**Calendar Data Issues Identified**

- listing_id: convert to `str`
- date: convert to `datetime`
- available: convert to dummy
- price: drop $ and comma and convert to float/int

#### Listings Data

In [ ]:
#print the head of listings
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [ ]:
# len_listings = len('listings')
# print(len_listings)
#listings[listings.columns[0]].count()
#len(listings.index)
listings.shape

(3585, 95)

In [ ]:
#print description of data
listings.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,0.000000e+00,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

In [ ]:
#print concise summary of data
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

In [ ]:
# Check if all rows have unique IDs
listings.id.nunique()

3585

In [ ]:
# Are there less host ids?
listings.host_id.nunique()

2181

In [ ]:
# Check response times
listings.host_response_time.nunique()
print(listings.host_response_time.nunique())

4

In [ ]:
listings.host_neighbourhood.nunique()

53

In [ ]:
# Check values for city
listings.city.value_counts()

Boston                       3381
Roxbury Crossing               24
Somerville                     19
Jamaica Plain                  18
Brookline                      18
Cambridge                      16
Dorchester                     15
Brighton                       15
Charlestown                    15
Allston                        12
Roslindale                      6
West Roxbury                    5
ROXBURY CROSSING                4
Mattapan                        3
East Boston                     3
ALLSTON                         2
South Boston                    2
Jamaica Plain, Boston           2
Hyde Park                       2
Jamaica Plain                   2
Boston, Massachusetts, US       2
Boston                          1
Roslindale, Boston              1
dorchester, boston              1
Milton                          1
Jamaica Plain (Boston)          1
Newton                          1
波士顿                             1
Jamaica Plain, MA               1
Watertown                       1
Boston (Jamaica Plain)          1
Boston (Charlestown)            1
Jamaica plain                   1
east Boston                     1
Mission Hill, Boston            1
boston                          1
South End, Boston               1
Brighton                        1
Name: city, dtype: int64

#### Reviews Data

In [ ]:
#print the head of listings
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [ ]:
#reviews[reviews.columns[0]].count()
#len(reviews.index)
reviews.shape

(68275, 6)

In [ ]:
#print description of data
reviews.describe()

         listing_id            id   reviewer_id
count  6.827500e+04  6.827500e+04  6.827500e+04
mean   4.759910e+06  5.246516e+07  2.802389e+07
std    3.788990e+06  2.790991e+07  2.234097e+07
min    3.353000e+03  1.021000e+03  1.430000e+02
25%    1.458081e+06  3.010420e+07  9.001346e+06
50%    4.080000e+06  5.223121e+07  2.305179e+07
75%    7.377034e+06  7.663248e+07  4.213454e+07
max    1.484378e+07  9.999045e+07  9.335034e+07

In [ ]:
#print concise summary of data
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     68275 non-null  int64
 1   id             68275 non-null  int64
 2   date           68275 non-null  object
 3   reviewer_id    68275 non-null  int64
 4   reviewer_name  68275 non-null  object
 5   comments       68222 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB

In [ ]:
reviews.reviewer_id.nunique()

63789

In [ ]:
reviews.duplicated("reviewer_id").sum()

4486

In [ ]:
reviews.duplicated(subset=["reviewer_id", "listing_id"]).sum()

947

In [ ]:
print(reviews.duplicated(subset=["reviewer_id", "listing_id", "date"]).sum())
reviews[reviews.duplicated(subset=["reviewer_id", "listing_id", "date"], keep=False)]

10

,listing_id,id,date,reviewer_id,reviewer_name,comments
6558,1529321,32216803,2015-05-15,30877683,Jonathan,Nice neighborhood with a lot of local life and...
6559,1529321,32223055,2015-05-15,30877683,Jonathan,"A+ treatment all the way, you are an adult in ..."
29370,568234,19256952,2014-09-08,16199611,Lyn,The reservation was canceled 23 days before ar...
29371,568234,19256954,2014-09-08,16199611,Lyn,The reservation was canceled 24 days before ar...
30826,4402209,66858887,2016-03-25,63239764,Sandiya,My night at Aris house was perfect yet again! ...
30827,4402209,66963792,2016-03-25,63239764,Sandiya,"The hosts communication was great, the listin..."
33673,3897963,68851332,2016-04-07,47193495,Emily,Ari was a great host! Easy check in and check ...
33674,3897963,68854695,2016-04-07,47193495,Emily,Very easy check in and check out and super com...
35146,11826815,65924361,2016-03-18,51343202,Jon,Derian offered me a room last minute without h...
35147,11826815,65931647,2016-03-18,51343202,Jon,"Again, It was exceptional."
35148,11826815,66021514,2016-03-18,51343202,Jon,"Again, It was excellent. Thank you."
38563,1173306,7089988,2013-09-06,8492099,Tommy,Cool little spot that I extended my stay in th...
38564,1173306,7110330,2013-09-06,8492099,Tommy,"Great spot walking distance to food, drink, an..."
42896,3901439,66794894,2016-03-24,9618964,Gregory,I've stayed several times at Ari's properties....
42897,3901439,66794902,2016-03-24,9618964,Gregory,I've stayed several times at Ari's properties....
54566,3897995,66648360,2016-03-23,39441871,Doron,I'm a regular returning customer. Excellent ...
54567,3897995,66654316,2016-03-23,39441871,Doron,Great host and place. I airbnb at Ari's each ...
56979,3866526,65933697,2016-03-18,63239764,Sandiya,I had a fantastic experience staying in Ari's ...
56980,3866526,66022211,2016-03-18,63239764,Sandiya,My stay at Aris was just as he described. I ...

In [ ]:
print(reviews.duplicated(subset=["reviewer_id", "listing_id", "comments"]).sum())

reviews[reviews.duplicated(subset=["reviewer_id", "listing_id", "comments"], keep=False)]

18

,listing_id,id,date,reviewer_id,reviewer_name,comments
130,1178162,36990201,2015-07-03,35957819,Austin,"Great space. Cozy and right off the airport, v..."
132,1178162,37500401,2015-07-07,35957819,Austin,"Great space. Cozy and right off the airport, v..."
3493,3415033,34129761,2015-06-05,29861162,Matthew,Donny and Chris were extremely welcoming. I ha...
3494,3415033,34531976,2015-06-09,29861162,Matthew,Donny and Chris were extremely welcoming. I ha...
4067,6500646,85351737,2016-07-11,8387157,Ion,"Staying here was a great experience, the host ..."
4068,6500646,86638486,2016-07-17,8387157,Ion,"Staying here was a great experience, the host ..."
4714,6347026,35601363,2015-06-20,13825246,Jay,Megan and Stephen opened up their home to me a...
4715,6347026,35718502,2015-06-21,13825246,Jay,Megan and Stephen opened up their home to me a...
10469,24240,135659,2010-11-08,216891,David,"Best houseboat ever! Gretchen was very nice, ..."
10470,24240,138161,2010-11-13,216891,David,"Best houseboat ever! Gretchen was very nice, ..."
12033,1071235,80338206,2016-06-17,5219596,Claire,My parents really enjoyed staying at Kristina ...
12035,1071235,81876561,2016-06-25,5219596,Claire,My parents really enjoyed staying at Kristina ...
28339,1545185,10114234,2014-02-01,2873520,Ashley,I stayed at Nick's apartment for a month while...
28340,1545185,10137953,2014-02-02,2873520,Ashley,I stayed at Nick's apartment for a month while...
28805,1839549,16618080,2014-07-30,16148612,James,"Ari remains a helpful, courteous host. Please ..."
28806,1839549,17220662,2014-08-09,16148612,James,"Ari remains a helpful, courteous host. Please ..."
31118,6730758,69099695,2016-04-09,35049045,Arava,The studio was cozy and comfortable. It fitted...
31119,6730758,69201878,2016-04-10,35049045,Arava,The studio was cozy and comfortable. It fitted...
32838,4996375,40151503,2015-07-28,33764250,Brett,Chris was a great host who made me feel very w...
32839,4996375,40371929,2015-07-30,33764250,Brett,Chris was a great host who made me feel very w...
33857,8670336,56577122,2015-12-14,46824722,Suzy,Great
33858,8670336,56763072,2015-12-17,46824722,Suzy,Great
42896,3901439,66794894,2016-03-24,9618964,Gregory,I've stayed several times at Ari's properties....
42897,3901439,66794902,2016-03-24,9618964,Gregory,I've stayed several times at Ari's properties....
50686,6742905,53462841,2015-11-09,32783789,Shane,Our stay was good. The location of this condo...
50687,6742905,53745602,2015-11-12,32783789,Shane,Our stay was good. The location of this condo...
50843,1810172,8483022,2013-11-02,7831086,Jason,Rebecca was very accommodating throughout the ...
50844,1810172,8594571,2013-11-06,7831086,Jason,Rebecca was very accommodating throughout the ...
53210,11397511,90586972,2016-08-01,32905386,Iryna,Valeria is an amazing host. She was very helpf...
53211,11397511,91032330,2016-08-03,32905386,Iryna,Valeria is an amazing host. She was very helpf...
55646,6089865,74189670,2016-05-13,6827547,Drew,My husband and I had the pleasure of staying a...
55648,6089865,75103029,2016-05-18,6827547,Drew,My husband and I had the pleasure of staying a...
61138,1373520,52349700,2015-10-28,44445333,Dywayne,Alisa and Kacey are very gracious hosts :-) I ...
61139,1373520,55004628,2015-11-27,44445333,Dywayne,Alisa and Kacey are very gracious hosts :-) I ...
67970,1038465,17765817,2014-08-17,8925364,Eric,"Great area, easy to get to anywhere, Robert wa..."
67974,1038465,18320273,2014-08-25,8925364,Eric,"Great area, easy to get to anywhere, Robert wa..."

In [ ]:
reviews[reviews.duplicated(subset=["reviewer_id", "listing_id", "date"])]

,listing_id,id,date,reviewer_id,reviewer_name,comments
6559,1529321,32223055,2015-05-15,30877683,Jonathan,"A+ treatment all the way, you are an adult in ..."
29371,568234,19256954,2014-09-08,16199611,Lyn,The reservation was canceled 24 days before ar...
30827,4402209,66963792,2016-03-25,63239764,Sandiya,"The hosts communication was great, the listin..."
33674,3897963,68854695,2016-04-07,47193495,Emily,Very easy check in and check out and super com...
35147,11826815,65931647,2016-03-18,51343202,Jon,"Again, It was exceptional."
35148,11826815,66021514,2016-03-18,51343202,Jon,"Again, It was excellent. Thank you."
38564,1173306,7110330,2013-09-06,8492099,Tommy,"Great spot walking distance to food, drink, an..."
42897,3901439,66794902,2016-03-24,9618964,Gregory,I've stayed several times at Ari's properties....
54567,3897995,66654316,2016-03-23,39441871,Doron,Great host and place. I airbnb at Ari's each ...
56980,3866526,66022211,2016-03-18,63239764,Sandiya,My stay at Aris was just as he described. I ...

In [ ]:
reviews.comments.isnull().value_counts()

False    68222
True        53
Name: comments, dtype: int64

**Review Data Issues Identified**

- reviewer_id: convert to `str`
- date: convert to `datetime`
- reviewer_id: convert to dummy
- comment: ? missing value and duplication

## Section 3: Data Preparation